#circle {
    width: 225px;
    height: 225px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    animation: object 12s linear infinite; 
}

@keyframes object {
    0% {
        transform: translateX(0);
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100%{
        transform: translateX(220vh);
        opacity: 0.3;
    }
}


#outlineFun {
    width: 300px;
    height: 50px;
    position: fixed;
    margin: auto;
    inset: 0;
    animation: animate 10s linear infinite alternate;
    border: 1px solid;
    text-align: center;
    font-family: 'Impact', sans-serif;
    font-size: 36px;
}

@keyframes animate {
    0% { border-width: 1px; }
    100% { border-width: 50px; }
}