#circle {
    width: 225px;
    height: 225px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    animation: object 12s linear infinite; 
}

@keyframes object {
    0% {
        transform: translateX(0);
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100%{
        transform: translateX(220vh);
        opacity: 0.3;
    }
}


#outlineFun {
    width: 300px;
    height: 50px;
    position: fixed;
    margin: auto;
    inset: 0;
    animation: animate 10s linear infinite alternate;
    border: 1px solid;
    text-align: center;
    font-family: 'Impact', sans-serif;
    font-size: 36px;
}

@keyframes animate {
    0% { border-width: 1px; }
    100% { border-width: 50px; }
}

#square {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 100;
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:400px; top:100px;}
    50%  {background-color:blue; left:400px; top:200px;}
    75%  {background-color:green; left:0px; top:400px;}
    100% {background-color:red; left:0px; top:0px;}
  }

  #pentagon {
    position: relative;
    width: 54px;
    box-sizing: content-box;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: magenta transparent;
    z-index: 1;
    animation: shape 4s infinite;
  }
  #pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent magenta;
    z-index: 1;
  }

  @keyframes shape {
    0% {
      
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }